@media (max-width:1270px){
    .container{
        max-width: 960px;
    }
    .header{
        &__wrapper{
            padding: 30px 20px;
        }
    }
    .promo{
        &__wrapper{
            padding-left: 30px;
        }
    }
    .info{
        &__deskr{
            padding: 99px 50px;
        }
        &__list{
            margin: 100px 30px 0 30px;
        }
    }
    .offices{
        &__menu{
            padding: 28px 30px;
        }
        &__list{
            gap: 15px;
        }
        &__map{
            overflow-x: auto;
        }
    }
    .menu{
        &__sub-list{
            width: 958px;
            left: -30px;
            padding: 30px;
        }
        &__sub-sub-list{
            gap: 5px;
        }
        &__sub-sub-item{
            font-size: 16px;
        }
    }
}

@media (max-width:992px){
    .container{
        max-width: 720px;
    }
    .header{
        &__information{
            flex-wrap: wrap;
            justify-content: flex-end;
            row-gap: 5px;
        }
    }
    .promo{
        &__title{
            width: 500px;
        }
    }
    .info{
        &__descr{
            margin: 0 20px;
            padding: 50px 20px;
        }
        &__list{
            padding-top: 0;
            display: grid;
            grid-template-columns: repeat(2, 1fr);
            grid-template-rows: repeat(3, minmax(50px, auto));
            gap: 40px;
        }
        &__item{
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: flex-start;
            &:nth-child(4){
                margin-left: 0;
            }
            &:nth-child(5) {
                max-width: 225px;
                margin: 0 auto;
            }
            &-subtitle{
                text-align: center;
            }
        }
    }
    .offices{
        &__menu{
            padding: 28px 10px;
        }
        &__item{
            font-size: 14px;
        }
    }
    .menu{
        &__sub-list{
            width: 719px;
            left: -10px;
            display: grid;
            grid-template-columns: repeat(4, 1fr);
            column-gap: 50px;
            row-gap: 10px;
        }
        &__item{
            &-text{
                font-size: 20px;
            }
        }
        &__sub-item{
            margin-left: 20px;
            font-size: 14px;
        }
        &__sub-sub-item{
            font-size: 14px;
            margin-bottom: 5px;
        }
        &__sub-sub-list{
            padding-left: 20px;
            display: none;
        }
    }
    .arrow{
        display: block;
    } 
    .mission{
        &__overlay{
            padding: 70px 70px;
            &::after{
                transform: scale(0.9);
                top: 12px;
                left: -14px;
            }
            &::before{
                transform: scale(0.9);
                top: 12px;
                right: -14px;
            }
        }
    }
}

@media (max-width:768px){
    .container{
        max-width: 540px;
    }
    .info{
        &__list{
            margin: 100px 0 0;
        }
    }
    .offices{
        &__menu{
            flex-direction: column;
            gap: 15px;
            align-items: flex-start;
        }
    }
    .menu{
        &__sub-list{
            width: 540px;
            grid-template-columns: repeat(3, 1fr);
            column-gap: 20px;
        }
    }
}

@media (max-width:576px){
    .container{
        max-width: 290px;
    }
    .header{
        &__wrapper{
            padding: 16px 0 16px 5px;
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            align-items: flex-start;
            gap: 16px;
        }
        &__information{
            justify-content: flex-start;
            column-gap: 10px;
            &-item{
                font-size: 14px;
                line-height: 16px;
            }
        }
    }
    .promo{
        &__wrapper{
            padding: 40px 5px 96px 5px;
        }
        &__title{
            width: 280px;
            font-size: 28px;
        }
        &__link{
            display: inline-block;
            margin-top: 20px;
            padding: 6.5px 25.5px;
            font-size: 16px;
        }
    }
    .info{
        padding-top: 60px;
        &__descr{
            padding: 25px 5px;
            margin: 0;
            font-size: 16px;
        }
        &__item{
            &-title{
                font-size: 40px;
                span{
                    font-size: 40px;
                }
            }
            &-subtitle{
                font-size: 16px;
            }
            &:nth-child(5){
                position: absolute;
                top: 167px;
                left: 55px;
                width: 180px;
            }
        }
        &__list{
            position: relative;
            margin-top: 50px;
            column-gap: 8px;
            row-gap: 24px;
        }
        &__mr{
            margin-right: 4px;
        }
        &__ml{
            margin-left: 4px;
        }
    }
    .offices{
        &__menu{
            overflow-x: auto;
            overflow-y: hidden;
        }
    }
    .menu{
        li{
            position: static;
        }
        &__sub-list{
            width: 100%;
            grid-template-columns: 100px 70px 120px;
            column-gap: 0;
            row-gap: 15px;
            top: 63px;
            left: 0;
            padding: 0 15px;
            li{
                position: relative;
            }
        }
        &__sub-item{
            padding: 0;
            margin-left: 13px;
        }
        &__sub-sub-list{
            padding-left: 13px;
        }
    }
    .mission{
        margin-top: 10px;
        &__wrapper{
            overflow: hidden;
        }
        &__overlay{
            padding: 32px 5px;
            &::after{
                transform: scale(1.1);
                background: url('../img/mission/Left pattern_media320.png') no-repeat;
                top: 27px;
                left: -48px;
                width: 140px;
                height: 154px;
            }
            &::before{
                transform: scale(1.1);
                background: url('../img/mission/Right pattern_media320.png') no-repeat;
                top: 27px;
                right: -48px;
                width: 143px;
                height: 154px;
            }
        }
        &__title{
            font-size: 28px;
        }
        &__descr{
            font-size: 16px;
            line-height: 130%;
        }
    }
}